<?php

$databases['default']['default'] = array (
  'database' => '{{ database }}',
  'username' => '{{ username }}',
  'password' => '{{ password }}',
  'prefix' => '',
  'host' => '{{ db_host }}',
  'port' => '',
  'namespace' => 'Drupal\Core\Database\Driver\mysql',
  'driver' => 'mysql',
);
